{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section>
        <h1>Posts</h1>
        
        {% for post in posts %}
            <article>
                <h2>
                    <a href="{% url 'posts:page' url_key=post.url_key %}">
                        {% comment %} above url came from 'app_name:path-name' from posts -> url.py {% endcomment %}
                        {{ post.title }}
                    </a>
                </h2>
                <p>{{ post.date }} by {{ post.author }} </p>
                <p>{{ post.body }}</p>
            </article>
        {% endfor %}

    </section>
    
{% endblock %}
